/* add your CSS here */
.clown{
	padding: 10px;
}
.fish {
    width: 300px;
    padding: 10px;
}

.facts {
	font-style: italic;
	padding: 10px;
	padding-left: 0;
}
.item {
	font-weight: bold;
}
.out {
	border-style: groove;
	padding: 10px;
	background-color:#1E90FF;
	width: 320px;
	box-shadow: 4px 5px 6px grey;
}
.info {
	border-style: groove;
	padding: 10px;
	border-spacing: 10px;
	background-color:#7FFFD4;
}
.unl {
	list-style-type:none;
	padding-left: 0;
}
